@import '~@angular/material/theming';

.main-content {
    margin-top: 80px;
    position: relative;
    min-height: 50vh;

    form {
        padding: 0 2rem;
        .mat-form-field { width: 100%; }
    }

    .mat-spinner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }
}

.mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 999;
    @include mat-elevation(6);
}