<mat-toolbar color="primary">
  <span>Find your Job</span>
</mat-toolbar>


<main class="main-content">
<form>
    <mat-form-field>
      <mat-select placeholder="Select the Job" (selectionChange)="selectJob()" [(ngModel)]="selectedValue" name="job">
        <mat-option *ngFor="let job of selectJobs" [value]="job.value">
          {{job.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-list *ngIf="!loading">
    <ng-container *ngFor="let job of jobs">
      <mat-list-item >
        <h3 matLine> {{ job.title }} </h3>
        <p matLine> aberta em: {{ job.created_at | date: 'dd/MM/yyyy' }} </p>
        <p matLine> #{{job.number}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>

  <mat-spinner *ngIf="loading"></mat-spinner>
</main>